<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>RestAssuredBasics.Assignment</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCreatedBooking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteBooking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PutRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createToken</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllBookingIds</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createBooking</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
