<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa968">  <td>20/10/14 22:14:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.PutRequest()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">PutRequest</td> 
  <td>main@850551034</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/10/14 22:13:57</td>   <td>-4605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.createBooking()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">createBooking</td> 
  <td>main@850551034</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/10/14 22:13:52</td>   <td>-9676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.createToken()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">createToken</td> 
  <td>main@850551034</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/10/14 22:14:10</td>   <td>8523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.deleteBooking()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">deleteBooking</td> 
  <td>main@850551034</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/10/14 22:13:58</td>   <td>-2958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.getAllBookingIds()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">getAllBookingIds</td> 
  <td>main@850551034</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/10/14 22:14:00</td>   <td>-1477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment.getCreatedBooking()[pri:0, instance:RestAssuredBasics.Assignment@37858383]">getCreatedBooking</td> 
  <td>main@850551034</td>   <td></td> </tr>
</table>
